{% extends "layout.html" %}

{% block content %}



<div class="jumbotron">
    <h1>Project Brooklyn</h1>
    <div class="row">
        <div class="col-md-5">

            <p class="lead">The Conjoined Triangles of Success guide StartUp 2.0 companies to the most impactful proactive best practices. The four pillars of CToS (pronounced see-to-ess) are Growth, Sales, Engineering and Manufacturing. Achieving and maintaining win-win-win mutual success among these critical components creates team synergies that lead to three comma valuations.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <img src="../static/content/image.jpg" style="width:inherit;height:inherit" />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div id="CtoSButton">
        <h><button type="button" class="btn btn-primary btn-block">Dive into CToS!</button></h>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <h2>Growth</h2>
        <p>
            No dynamic startup can thrive without the foundation of CToS, growth. Saavy CToS organizations leverage the Law of Small Numbers to demonstrate ballistic long term growth potential.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Sales</h2>
        <p>A successful CToS Sales team will re-envision product offerings, closing deals exceeding the confines of a simple sell sheet to create new product-on-steroids categories and drive industry-wide as well as inter-departmental paradigm shifts.</p>

    </div>
    <div class="col-md-3">
        <h2>Engineering</h2>
        <p>As the innovation center of excellence for your company, Engineering employs an agile process to rapidly deliver complex technical solutions to unknown challenges. Test-driven development obviates the need for picayune quality assurance, enabling the freshest code to flow unimpeded into production, ideally multiple times per day.</p>

    </div>
    <div class="col-md-3">
        <h2>Manufacturing</h2>
        <p>In CToS firms, manufacturing applies Industry 4.0 techniques with cyber-physical systems that digitally connect machines and parts through RFID enabled IoT networks. Lean manufacturing flows above 5S, SMED, Kanban and JIT to reduce carbon footprint and accelerate production of customer value.</p>
    </div>
</div>
{% endblock %}

